<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Ducushore'sHomePg</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    <!-- Bootstrap core CSS : https://getbootstrap.com/docs/3.3/getting-started/  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
    <header>
{#        NAVBAR -- VERSION 1 - from BOOTSTRAP : - check the OLD version of the file #}

{#        NAVBAR -- VERSION 2 - from BOOTSTRAP : https://getbootstrap.com/docs/5.0/components/navbar/ #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Ducushore</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

{#            NEWER BOOTSTRAP VERSION (2021) : NAVBAR is the upper part of the page , with the navigation bar#}
                <div class="collapse navbar-collapse text-right" id="navbarNav">
                    <ul class="navbar-nav ml-auto"> {# "ml-auto" is resposible to moving menu to the right of the page #}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="https://www.linkedin.com/in/leonarddafin/">LinkedIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% static 'Leonard Dafin CV.pdf' %}">MyResume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'allblogs' %}">Blog</a>
                            {# instead of 'class="nav-link active"', who makes the option a lighter-grey #}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='#'>Python & Django</a>
                            {# instead of 'class="nav-link active"', who makes the option a lighter-grey #}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">MySQL</a>
                            {# instead of 'class="nav-link active"', who makes the option a lighter-grey #}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Excel & VBA</a>
                            {# instead of 'class="nav-link active"', who makes the option a lighter-grey #}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <h1 class="fw-light">Hi, I'm Ducushore, your technology host . . . </h1>
                    <p class="lead text-muted">This is my technology blog-like site. <br \>It is created by using Python
                        and Django, <br \>(incl. also Bootstrap and PostgreSQL), <br \>during my coding scolarship period
                        (2021). <br \>Welcome and Enjoy!</p>
                    <p>
                        <a href="mailto:leonardafin@yahoo.com" class="btn btn-primary my-2">Send me an e-mail</a>
{#                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
                    </p>
                    <img src="{% static 'EU_primavara2011.png' %}" height="200" />

                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {# THIS IS THE FIRST CARD - the rest can be checked on the OLD version of the 'home.html' file : #}
                    {% for job in jobs.all %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="{{ job.image.url }}" />
                            {# 'image' is one of the class 'Job' properties #}
                            <div class="card-body">
                                <p class="card-text">{{ job.summary }} </p>
                                {# 'summary' is the second of the class 'Job' properties #}
                            </div>
                        </div>
                    </div>
                    {% endfor job in jobs.all %}

                </div>

            </div>
        </div>
    </main>

    <footer class="text-muted py-5">
        <div class="container text-center">

{#            <p>Copyright Ducushore 2021</p>#}  {# this is a static 2021 version #}

            <p>© Leonard Dafin {% now 'Y' %} </p>  {# this is an autochanging version of the code for YEAR!! #}
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so that the pages will load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>
</html>








